<div mat-dialog-content>
    <div id="paint">
        <form id="form" [formGroup]="form">
            <div class="grid grid--auto-fit-md grid-form">
                <h4>Cores</h4>
                <mat-form-field class="flex-fill">
                    <mat-label>Cor</mat-label>
                    <input formControlName="colorpicker" matInput type="color">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cor de fundo</mat-label>
                    <input formControlName="bgcolorpicker" matInput type="color">
                </mat-form-field>

                <h4>Tamanho (<span>{{ form.get('controlSize').value }}</span>)</h4>
                <mat-slider
                    formControlName="controlSize"
                    class="w-100"
                    [max]="50"
                    [min]="1"
                    [step]="1"
                    [thumbLabel]="true"
                    [vertical]="false">
                </mat-slider>

                <h4>Canvas</h4>
                <mat-form-field>
                    <mat-label>X</mat-label>
                    <input formControlName="sizeX" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Y</mat-label>
                    <input formControlName="sizeY" matInput>
                </mat-form-field>
            </div>
          <div class="btn-options">
              <button mat-raised-button (click)="eraser()"       color="accent"  class="btn btn-secondary"> Borracha   </button>
              <button mat-raised-button (click)="createCanvas()" color="warn"    class="btn btn-danger">    Recarregar </button>
              <button mat-raised-button (click)="download()"     color="primary" class="btn btn-primary">   Download   </button>
          </div>
        </form>

        <div id="board"></div>
    </div>
</div>
<div mat-dialog-actions class="gap">
    <button mat-raised-button (click)="salvar()" color="primary">Salvar</button>
    <button mat-raised-button (click)="close(false)" color="warn">Cancelar</button>
</div>