@import "../../../../scss/function.scss";

.mat-dialog-content {
    max-height: none !important;
    overflow-y: hidden !important;
}

.gap {
    gap: 1rem;
}

#paint {
    display: flex;
    flex-direction: row;
}

form {
    padding-right: 2rem;
    mat-form-field {
        width: 100%;
    }
}

.btn-options {
    display: flex;
    gap: 1rem;
}

@include mobile {
    #paint {
        display: flex;
        flex-direction: column-reverse;
    }

    form {
        padding-right: unset;
    }
}