@import '../../../scss/function.scss';

mat-card {
    border-radius: 0.5rem !important;
}

.btn-add {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.color {
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
}

.colors {
    display: grid;
    counter-reset: grid-items;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(0.5em, 1fr));
    grid-gap: 0 0.25rem ;
}

.colors::before {
    position: absolute;
    padding-left: 3em;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 1.3 !important;
    max-width: 90vw !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.25rem !important;
}

.title {
    flex-wrap: unset !important;
}

.btn-options {
    min-width: 5rem;
}

::ng-deep.mat-hint {
    color: #ADADAD !important;
}

.mat-card-footer {
    margin: -10px -16px -16px -10px !important;
}

.nodata {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30pt;
}

.date {
    align-self: center;
    text-align: center;
    color: #ADADAD;
    font-size: 16pt;
    font-family: 'Caveat', cursive;
}

::ng-deep.mat-spinner {
    stroke-linecap: round !important;
}

::ng-deep.mat-progress-spinner {
    stroke-linecap: round !important;
}

::ng-deep.circle {
    stroke-linecap: round !important;
}

@include mobile {
    .grid--auto-fill {
        grid: unset;
    }
    
    mat-form-field {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
