<ng-container *ngIf="allAlarms$ | async as allAlarms; else loading">
    <ng-container *ngIf="allAlarms.length > 0; else noData">
        <div class="grid grid--auto-fill gp2">
            <ng-container *ngFor="let alarm of allAlarms">
                <mat-card class="mat-elevation-z4">
                    <mat-card-content (click)="openIndividualAlarm(alarm)" class="pointer mb-0">
                        <div class="flex flex-row align-center title">
                            <div class="text"><span>{{ alarm?.title }}</span></div>
                        </div>
                    </mat-card-content>
                    <mat-card-footer class="flex flex-row">
                        <div class="align-center prl-0-5">
                            <mat-slide-toggle 
                                [checked]="alarm.active" 
                                (change)="changeStatus($event, alarm?.id)" 
                                matTooltip="Ativar / Desativar" 
                                [disabled]="false"
                                color="primary"
                            ></mat-slide-toggle>
                        </div>
                        <div (click)="openIndividualAlarm(alarm)" class="flex-fill pointer date">
                            <span>{{ alarm.date | date: 'dd/MM/yy' }} - {{ alarm.hour.toString().padStart(2, '0') }}:{{ alarm.minute.toString().padStart(2, '0') }}</span>
                        </div>
                        <div class="btn-options">
                            <button (click)="openIndividualAlarm(alarm)" color="primary" mat-icon-button matTooltip="Editar">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="delete(alarm?.id)" color="warn" mat-icon-button matTooltip="Excluir" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<div>
    <button mat-mini-fab (click)="openIndividualAlarm()" color="primary" class="btn-add" matTooltip="Adicionar"><mat-icon>add</mat-icon></button>
</div>

<ng-template #loading>
    <div class="loading-shade">
        <mat-spinner [strokeWidth]="5"></mat-spinner>
    </div>
</ng-template>

<ng-template #noData>
    <div class="mt-3 nodata">
        <h1>Não há lembretes</h1>
    </div>
</ng-template>
