<div id="body">
    <mat-card class="mat-elevation-z8" *ngIf="noAuth; else loading">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Keep Notes</mat-card-subtitle>
        <mat-card-content></mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="googleSignin()">
                <mat-icon style="width: 50px; height:30px" svgIcon="google"></mat-icon>
                Login com Google
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #loading>
    <div class="flex flex-column align-center">
        <mat-spinner class="accent" [strokeWidth]="5"></mat-spinner>
        <span class="mt-1">Autenticando</span>
    </div>
</ng-template>