<div *ngIf="defaultData?.length > 0" class="grid grid--auto-fill gp2">
    <mat-form-field>
        <mat-label>Filtro de cores</mat-label>
        <mat-select [formControl]="colorsControl" (selectionChange)="selectionChange($event)" multiple>
            <mat-select-trigger>
                <div class="colors">
                    <div class="color" *ngFor="let colorSelected of seletedColors()" [ngStyle]="{'background-color': getColor(colorSelected)}"></div>
                </div>
            </mat-select-trigger>
            <mat-option value="all">Todas as cores</mat-option>
            <mat-option *ngFor="let color of colors" [value]="color.key">
                <div class="color" [ngStyle]="{'background-color': color.value}"></div>
            </mat-option>
        </mat-select>
        <mat-hint align="end">{{seletedColors().length || 0}}/10</mat-hint>
    </mat-form-field>
</div>

<ng-container *ngIf="allNotes$ | async as allNotes; else loading">
    <ng-container *ngIf="allNotes.length > 0; else noData">
        <div class="grid grid--auto-fill gp2">
            <ng-container *ngFor="let note of allNotes">
                <mat-card class="mat-elevation-z4">
                    <mat-card-content (click)="openIndividualNote(note)" class="pointer mb-0">
                        <div class="colors">
                            <div class="color" *ngFor="let color of note?.colors" [ngStyle]="{'background-color': getColor(color)}"></div>
                        </div>
                        <div class="flex flex-row align-center title">
                            <div class="text"><span>{{ note?.title }}</span></div>
                        </div>
                    </mat-card-content>
                    <mat-card-footer class="flex flex-row">
                        <div (click)="openIndividualNote(note)" class="pointer">
                            <button *ngIf="note?.haveImage" mat-icon-button matTooltip="Imagens" disabled>
                                <mat-icon>insert_photo</mat-icon>
                            </button>
                            <button *ngIf="note?.haveAudio" mat-icon-button matTooltip="Aúdio" disabled>
                                <mat-icon>keyboard_voice</mat-icon>
                            </button>
                        </div>
                        <div (click)="openIndividualNote(note)" class="flex-fill pointer"></div>
                        <div class="btn-options">
                            <button *ngIf="note?.date" color="primary" mat-icon-button matTooltip="Sync" disabled>
                                <mat-icon>sync</mat-icon>
                            </button>
                            <button (click)="openIndividualNote(note)" color="primary" mat-icon-button matTooltip="Editar">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="delete(note?.id)" color="warn" mat-icon-button matTooltip="Excluir" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<div>
    <button mat-mini-fab (click)="openIndividualNote()" color="primary" class="btn-add" matTooltip="Adicionar"><mat-icon>add</mat-icon></button>
</div>

<ng-template #loading>
    <div class="loading-shade">
        <mat-spinner [strokeWidth]="5"></mat-spinner>
    </div>
</ng-template>

<ng-template #noData>
    <div class="mt-3 nodata">
        <h1>Não há notas</h1>
    </div>
</ng-template>
