@import "../../../scss/function.scss";

.mat-dialog-content {
    max-height: none !important;
    overflow-y: hidden !important;
}

form {
    padding-bottom: 0;
}

::ng-deep.mat-dialog-container {
    max-height: 90vh !important;
    overflow-y: auto;
}

.color {
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
}

.grid-form {
    grid-gap: 0 1rem ;
}

.gap-1 {
    grid-gap: 1rem;;
}

.colors-in-selected {
    display: grid;
    counter-reset: grid-items;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(0.5em, 1fr));
    grid-gap: 0 0.25rem ;
}

.colors-in-selected::before {
    position: absolute;
    padding-left: 3em;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.sm-column {
    max-width: 5rem !important;
    min-width: 5rem !important;
    width: 5rem !important;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.1);
    min-width: 5rem;
    min-height: 5rem;

    .gamb {
        color: rgba(0,0,0,0);
    }

    img {
        max-width: 100% !important;
        max-height: 15rem;
        z-index: 2;
    }

    .wait-img {
        z-index: 1;
        position: absolute;
        min-width: 5rem !important;
        min-height: 5rem !important;
        font-size: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-del {
        position: absolute;
        display: flex;
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        justify-content: flex-end;
        align-items: flex-start;

        button {
            z-index: 4;
            top: -10px;
            right: -10px;
        }
    }

    .btn-img {
        transition: opacity 250ms;
        opacity: 0;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        &:hover {
            opacity: 1;
        }

        span {
            color: #fff;
            font-size: 21pt;
            text-align: center;
        }
    }
}

.clock-audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.w95 {
    width: 95%;
}

.mr5 {
    margin-right: 5%;
}

.gap {
    gap: 1rem;
}

.btn-action {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@include mobile {
    form, .mat-form-field {
        padding-left: 0;
        padding-right: 0;
    }

    .mat-card {
        padding-left: 5 !important;
        padding-right: 5 !important;
    }

    .mat-form-field {
        min-width: 0 !important;
    }

    .grid--auto-fill {
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    ::ng-deep.mat-dialog-container {
        max-height: 90vh !important;
        overflow-y: auto;
    }

    .action-audio {
        flex-direction: column;
        align-items: flex-start;
    }
}
