<div mat-dialog-title></div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="grid grid--auto-fit-md grid-form">
            <mat-form-field>
                <mat-label>Título</mat-label>
                <input formControlName="title" matInput #title maxlength="50">
                <mat-hint align="end">{{title.value?.length || 0}}/50</mat-hint>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cores</mat-label>
                <mat-select formControlName="colors" multiple>
                    <mat-select-trigger>
                        <div class="colors-in-selected">
                            <div class="color" *ngFor="let colorSelected of seletedColors()" [ngStyle]="{'background-color': getColor(colorSelected)}"></div>
                        </div>
                    </mat-select-trigger>
                    <mat-option *ngFor="let color of colors" [value]="color.key">
                        <div class="color" [ngStyle]="{'background-color': color.value}"></div>
                    </mat-option>
                </mat-select>
                <mat-hint align="end">{{seletedColors().length || 0}}/10</mat-hint>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <mat-form-field class="flex-fill">
                <mat-label>Descrição</mat-label>
                <textarea formControlName="description" matInput #description rows="15" maxlength="2500"></textarea>
                <mat-hint align="end">{{description.value?.length || 0}}/2500</mat-hint>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>
        </div>

        <div class="flex">
            <button type="button" mat-button (click)="fileUp.click()" color="primary" [disabled]="!data?.note?.id">
                <mat-icon>insert_photo</mat-icon> Adicionar imagem
            </button>
            <button type="button" mat-button (click)="openPaint()" color="primary" [disabled]="!data?.note?.id">
                <mat-icon>palette</mat-icon> Desenhar
            </button>
        </div>
        <div class="grid grid--auto-fill-sm gp2 mt-1">
            <div class="images" *ngFor="let item of urlImages; let i = index">
                <div class="btn-del">
                    <button type="button" (click)="deleteImage(item.fire)" mat-icon-button matTooltip="Excluir" >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
                <img [src]="item.url" alt="Image">
                <span class="gamb">.</span>
                <mat-icon class="wait-img">insert_photo</mat-icon>
                <div (click)="openImage(item.url)" class="btn-img noselect">
                    <span> Abrir </span>
                </div>
            </div>
        </div>
        <mat-progress-bar *ngIf="loadingImage" mode="indeterminate" color="primary"></mat-progress-bar>

        <div class="flex mt-1 action-audio">
            <button mat-button type="button" (click)="startRecording()" color="primary" [disabled]="!data?.note?.id || isRecording">
                <mat-icon>keyboard_voice</mat-icon> Gravar aúdio
            </button>
            <div *ngIf="isRecording" class="clock-audio prl-1-5"> {{recordedTime}} </div>
            <button mat-button type="button" (click)="stopRecording()" color="primary" *ngIf="isRecording">
                <mat-icon color="warn">radio_button_checked</mat-icon> Parar Gravação
            </button>
        </div>
        <div class="grid grid--auto-fill gp2 mt-1">
            <ng-container *ngFor="let item of urlAudio; let i = index">
                <div class="images">
                    <div class="btn-del">
                        <button type="button" (click)="deleteAudio(item.fire)" mat-icon-button matTooltip="Excluir">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                    <audio controls buffered class="w95 mr5">
                        <source [src]="item.url" type="audio/webm">
                    </audio>
                </div>
            </ng-container>
        </div>
        <mat-progress-bar *ngIf="loadingAudio" mode="indeterminate" color="primary"></mat-progress-bar>

        <div class="btn-action flex flex-row gap">
            <div class="flex-fill"></div>
            <button type="submit" color="primary" (click)="saveData()" [disabled]="isRecording || loadingImage" mat-raised-button> Salvar </button>
            <button type="button" color="warn" (click)="cancel()"  [disabled]="loadingImage" mat-raised-button> Cancelar </button>
        </div>
    </form>
</div>
<input #fileUp class="hidden" type="file" accept="image/*" (change)="onFileSelected($event)">