@import '../../../scss/function.scss';

.router {
    padding: 1.5rem;
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 30pt;
}

footer {
    font-family: 'Caveat', cursive;
    font-size: 16pt;
    color: #ADADAD;
    text-align: center;
    padding: 1.75rem;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 1.5rem 1.5rem;

    img {
        width: 5rem;
        margin: 1rem 0;
    }
}

.menu {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        width: 3rem;
        margin-left: 1rem;
        border-radius: 50%;
    }
}

.mat-app-background {
    // height: 100% !important;
}
.btn-notification {
    padding-right: 1.5rem;
}

::ng-deep.mat-spinner {
    stroke-linecap: round !important;
}

::ng-deep.mat-progress-spinner {
    stroke-linecap: round !important;
}

::ng-deep.circle {
    stroke-linecap: round !important;
}

@include mobile {
    .router {
        padding: 1.5rem 0.5rem;
    }

    .title {
        font-size: 20pt;
    }

    .mat-app-background {
        height: unset;
    }

    .btn-menu {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 7.5rem;
    }
}
