<div class="container noselect">
    <div class="mat-app-background flex flex-column">
        <mat-toolbar color="primary" class="mat-elevation-z2 noselect">
            <span class="title">Keep Notes <mat-icon>scatter_plot</mat-icon></span>
            <span class="flex-fill"></span>
            <div *ngIf="!isMobileResolution" class="menu" class="btn-notification" [matMenuTriggerFor]="notification">
                <ng-container *ngIf="notification$ | async as notification">
                    <ng-container *ngIf="notification.length > 0">
                        <button mat-icon-button>
                            <mat-icon [matBadge]="notification.length" matBadgeColor="warn">notifications</mat-icon>
                        </button>
                    </ng-container>
                </ng-container>
            </div>
            <div class="menu" [matMenuTriggerFor]="menu">
                <ng-container *ngIf="person$ | async as person; else noData">
                    <span class="btn-menu"> Olá {{ adaptName(person.displayName) }}</span>
                    <img [src]="person.photoURL" alt="profile">
                </ng-container>
            </div>
        </mat-toolbar>
    
        <mat-progress-bar *ngIf="showBar" mode="indeterminate" color="primary"></mat-progress-bar>
    
        <mat-chip-list *ngIf="offline" class="mt-1 prl-1-5">
            <mat-chip color="warn" selected><mat-icon>public_off</mat-icon> &nbsp; Offline</mat-chip>
        </mat-chip-list>
    
        <div class="router">
            <router-outlet></router-outlet>
        </div>
        <div class="flex-fill"></div>
        <footer>Edilson´s Inc.</footer>
    </div>
</div>

<ng-template #noData>
    <span> Olá</span>
    <img src="/assets/icons/person.png" alt="profile">
</ng-template>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchMode(false)">
        <mat-icon>brightness_low</mat-icon>
        <span>Claro</span>
    </button>
    <button mat-menu-item (click)="switchMode(true)">
        <mat-icon>brightness_high</mat-icon>
        <span>Escuro</span>
    </button>
    <button mat-menu-item routerLink="all-alarms" routerLinkActive="active" *ngIf="isAllNoteRoute(); else notes">
        <ng-container *ngIf="notification$ | async as notification">
            <ng-container *ngIf="notification.length > 0; else notesWithoutNotification">
                <mat-icon [matBadge]="notification.length" matBadgeColor="warn" [matBadgeHidden]="!isMobileResolution">alarme</mat-icon>
                <span>Lembretes</span>
            </ng-container>
        </ng-container>
    </button>
    <button mat-menu-item class="mt-1" (click)="logout()">
        <mat-icon color="warn">power_settings_new</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>

<mat-menu #notification="matMenu">
    <ng-container *ngFor="let item of notification$ | async ">
        <button mat-menu-item routerLink="all-alarms" routerLinkActive="active">
            <span>{{ item.title }}</span>
        </button>
    </ng-container>
</mat-menu>

<ng-template #notes>
    <button mat-menu-item routerLink="all-notes" routerLinkActive="active">
        <mat-icon>fact_check</mat-icon>
        <span>Notas</span>
    </button>
</ng-template>

<ng-template #notesWithoutNotification>
    <mat-icon>alarme</mat-icon>
    <span>Lembretes</span>
</ng-template>