@import '../../../scss/function.scss';

.mat-dialog-content {
    max-height: none !important;
}

h1 {
    text-align: center;
}

span {
    margin-bottom: 0.5rem;
    text-align: center;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
}

mat-divider {
    align-self: center;
    margin: 0 2rem;
}

mat-icon {
    font-size: 75px !important;
    width: 75px !important;
    height: 75px !important;
}

.mat-dialog-actions {
    gap: 1rem;
}

@include mobile {
    .mat-card {
        padding-left: 5 !important;
        padding-right: 5 !important;
    }

    .grid--auto-fill {
        grid-template-columns: none;
    }

    .grid--auto-fill-lg {
        grid-template-columns: none;
    }

    .mat-form-field {
        min-width: 0 !important;
    }
    
    .grid {
        padding: 0;
    }
}