<div mat-dialog-title></div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="grid grid--auto-fit grid-form">
            <mat-form-field>
                <mat-label>Título</mat-label>
                <input formControlName="title" matInput #title maxlength="50">
                <mat-hint align="end">{{title.value?.length || 0}}/50</mat-hint>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>

            <mat-form-field (click)="picker.open()">
                <mat-label>Data</mat-label>
                <input formControlName="date" matInput [min]="today" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid--auto-fit grid-form">
            <mat-form-field>
                <mat-label>Hora</mat-label>
                <mat-select formControlName="hour">
                  <mat-option *ngFor="let hour of hours" [value]="hour"> {{ hour.toString().padStart(2, '0') }}</mat-option>
                </mat-select>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Minuto</mat-label>
                <mat-select formControlName="minute">
                    <mat-option *ngFor="let minute of minutes" [value]="minute"> {{ minute.toString().padStart(2, '0') }}</mat-option>
                </mat-select>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-row gap">
            <div class="flex-fill"></div>
            <button type="submit" color="primary" (click)="saveData()" mat-raised-button> Salvar </button>
            <button type="button" color="warn" (click)="cancel()" mat-raised-button> Cancelar </button>
        </div>
    </form>
</div>