@import "../../../scss/function.scss";

.mat-dialog-content {
    max-height: none !important;
    overflow-y: hidden !important;
}

form {
    padding-bottom: 0;
}

::ng-deep.mat-dialog-container {
    max-height: 90vh !important;
    overflow-y: auto;
}

.grid-form {
    grid-gap: 0 1rem ;
}

.gap-1 {
    grid-gap: 1rem;;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.sm-column {
    max-width: 5rem !important;
    min-width: 5rem !important;
    width: 5rem !important;
}

.w95 {
    width: 95%;
}

.mr5 {
    margin-right: 5%;
}

.gap {
    gap: 1rem;
}

@include mobile {
    form, .mat-form-field {
        padding-left: 0;
        padding-right: 0;
    }

    .mat-card {
        padding-left: 5 !important;
        padding-right: 5 !important;
    }

    .mat-form-field {
        min-width: 0 !important;
    }

    .grid--auto-fit {
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    ::ng-deep.mat-dialog-container {
        max-height: 90vh !important;
        overflow-y: auto;
    }
}
