@import './theme.scss';
@import './function.scss';

@include mobile {
    mat-card {
        padding: 1rem 0.5rem !important;
    }
}

mat-card-title {
    color: mat-color($theme-primary);
    display: flex !important;
}

.mat-dialog-title {
    color: mat-color($theme-primary);
}

.mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.snackbar-error {
    background-color: mat-color($theme-warn) !important;
    color: #fff !important;
    .mat-simple-snackbar-action {
        color: #fff !important;
    }
}

.snackbar-success {
    background-color: mat-color($theme-primary) !important;
    color: #fff !important;
    .mat-simple-snackbar-action {
        color: #fff !important;
    }
}

.mat-icon {
    @extend .noselect;
}
