@import "./custom.scss"; 
@import "./function.scss"; 

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.flex {
    display: flex !important;
}

.flex-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
    flex-basis: 100% !important;
    flex: 1 !important;
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.align-center {
    align-items: center;
    align-self: center;
}

.jc-center {
    justify-content: center;
}

.grid {
    display: grid;
    counter-reset: grid-items;
    position: relative;
}
  
.grid::before {
    position: absolute;
    padding-left: 3em;
}

.grid--auto-fill-lg {
    grid-template-columns: repeat(auto-fill, minmax(50em, 1fr));
}

.grid--auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
}

.grid--auto-fill-sm {
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}

.grid--auto-fit-lg {
    grid-template-columns: repeat(auto-fit, minmax(50em, 1fr));
}

.grid--auto-fit-md {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.grid--auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
}

.grid--auto-fit-sm {
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
}

.gp2 {
    grid-gap: 2rem !important;
}

.mw-0 {
    min-width: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mb-0 {
    margin-bottom: 0rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.p-0 {
    padding: 0 !important;
}

.prl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.prl-0-5 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.prl-1-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.mrl-1-5 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary {
    color: mat-color($theme-primary) !important;
}

.hidden {
    display: none !important;
}

.full-width-dialog .mat-dialog-container, .cdk-overlay-pane {
    max-width: 90vw !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.pointer {
    cursor: pointer !important;
}

.noshadow {
    box-shadow: unset !important;
}

.over-auto {
    overflow: auto !important;
}
