<mat-toolbar *ngIf="data.mobileType === 'android'" color="primary" class="android-prompt">
    <button mat-button (click)="installPwa()">
        Adicionar no dispositivo
    </button>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<div *ngIf="data.mobileType === 'ios'" class="ios-prompt">
    <button class="close-ios-inv" mat-button color="primary" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <div>Para instalar este WebApp no seu dispositivo clique em Menu depois em 'Add to Home screen'</div>
    <div><img src="./assets/icons/ios-menu-btn.png">
        <mat-icon>navigate_next</mat-icon> <img src="./assets/icons/ios-add-btn.png">
    </div>
</div>