
.android-prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ios-prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .close-ios-inv {
        position: absolute;
        right: 0px;
        top: 0;
    }
    div {
        text-align: center;
        padding: 10px 25px 0;
        mat-icon {
        position: relative;
        top: -7px;
        }
    }
    img {
        display: inline;
    }
}

::ng-deep.cdk-overlay-pane {
    max-width: 100vw!important;
}

::ng-deep.full-width-dialog{
    max-width: 100vw!important;
}

::ng-deep.mat-dialog-container {
    max-width: 100vw!important;
}